html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(24, 26, 27);
    color: #969696;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 1000;
}

/* Card deck styling */

.deck {
    width: 660px;
    min-height: 780px;
    background: linear-gradient(160deg, #cacaca 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    border-style: solid;
    border-width: 5px;
    border-color: #2e3d49;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
    align-items: center !important;
    margin: 0 0 3em;
   
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ff00c8;
    border-radius: 8px;
    cursor: pointer;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);;
}

.deck .card.open {
    background: #3a1252;
    cursor: default;
    -webkit-box-shadow:0px 0px 91px 10px rgba(255,0,200,0.38);
    -moz-box-shadow: 0px 0px 91px 10px rgba(255,0,200,0.38);
    box-shadow: 0px 0px 91px 10px rgba(255,0,200,0.38);
    animation: flip linear 0.75s;
    animation-fill-mode: forwards;
}

.deck .card.show {
    font-size: 50px;
}

.deck .card.match {
    cursor: default;
    background: #580c50;
    font-size: 50px;
    animation: fade linear 1s;
    animation-fill-mode: forwards;
}

@keyframes fade 
{
    0%
    {
        opacity: 100%;
    }
    100%
    {
        opacity: 0%;
    }
}

@keyframes flip
{
    0% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    opacity: 0;
    }
    40% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    }
    60% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
    }
    80% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }
    100% {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    }
}

/* Score styling */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.modal-content
{
    /* background-image: url(../img/frontend_winscreen.png); */
    background-position: 100%;
    color: black !important;
    font-weight: 900;
}

.modal-title
{
    color: black !important;
    font-weight: 900;
}

#winnerText
{
    color: black !important;
    font-weight: 900;
}

.deck
{
    background: linear-gradient(300deg, rgba(2,0,36,1) 0%, rgba(120,9,121,1) 77%, rgba(255,0,245,0.37586372439600846) 100%) !important;
}

.leaderboard-outer
{
    color: white !important;
    text-align: center;
}

#leaderboard-container
{
    position: absolute;
    top: 2em;
    left: 2em;
    padding: .5em;
    background-color: #580c504c !important;
    border-radius: 5px;
}

/* Responsive layout for mobile users */

@media only screen and (max-width: 800px){
   .deck .card{
     width: 75px;
     height: 75px;
     line-height: 75px;
   }
 
   .deck {
     width: 500px;
   }
}
 
@media only screen and (max-width: 450px){
   .deck .card{
     width: 50px;
     height: 50px;
     line-height: 5px;
   }
 
   .deck {
     width: 150px;
     height: 250px;
   }
}